p{
    text-align: center;
}

h5{
    text-align: center;
}

.mr-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #F07D22;
}

.navbar {
    border-bottom: 2px solid #F07D22; /* Cambia il colore e la larghezza del bordo secondo le tue necessità */
}

#logo {
    width: 100px;
    height: 60px;
    border-radius: 4px;
    /*    width: 230px;
    height: 80px;
*/
}

#foot{

    border-top: 2px solid #F07D22;
}

#foot p{
    color: #F07D22;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1700px;
    }
}

@media (min-width: 360px) and (max-width: 765px) {
    .carousel-caption {
        
        right: 15%;
        bottom: 1px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        
    }

    .carousel-caption h1{
        font-size: 30px;
    }

    #logo {
        /*
        width: 250px;
        height: 65px;
        */
        width: 100px;
        height: 60px;
        border-radius: 10px;

    }

  }
